:root {
  --basic-black:#000000;
  --light-black:#333333;
  --basic-white:#FFFFFF;
  --light-blue:#81B3D2;
  --basic-gray:#F2F2F2;
  --white-rgba:rgba(255, 255, 255, 0.9);
  --light-gray: #EEEEEE;
  --special-brown:#766357;
  --middle-black:#666666;
  --basic-blue:#669EC0;
  --dark-blue: #5496BD;
  --basic-brown:#604E43;
  --dark-brown:#503E33;
  --middle-gray:#CACACA;
  --gray-brown:#766357;
}

.page {
  height: 100%;
}

body {
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color:var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
}

.header {
  position: relative;
  margin-left: auto;
  margin-left: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
}


.site-navigation {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation a {
  color:var(--basic-black);
  text-decoration: none;
}

.site-navigation-menu:hover {
  color:var(--light-blue);
}

.site-navigation-menu:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation-menu:focus  {
  color:var(--special-brown);
}

.photo-welcome {
  background-image: url("../img/main-photo.jpg");
  width: 1200px;
}

.welcome {
  padding: 78px 372px 81px 371px;
}

.shape {
  width: 1200px;
  height: 57px;
  margin-top: -57px;
}


.features h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color:var(--basic-black);
}

.features h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color:var(--light-black);
}

.features h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color:var(--basic-black);
}

.features p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: normal;
  color:var(--light-black);
}

.features-list {
  margin-right: auto;
  margin-left: -40px;
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}

.feature-item1, .feature-item2 {
  text-align: center;
  color:var(--basic-white);
  background-color:var(--light-blue);
}

.feature-item1 h3, .feature-item2 h3 {
  padding-top: 47px;
}

.offers {
  background-color:var(--basic-white);
  height: 330px;
}

.feature-item3, .feature-item4, .feature-item5 {
  padding-top: 47px;
  background-color:var(--light-gray);
}

.offers.house {
  margin-top: 60px;
}

.offers.food {
  margin-top: 61px;
}

.offers.box {
  margin-top: 55px;
}

.question-block {
  height: 155px;
  margin-left: -40px;
  margin-top: 58px;
}

.question {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color:var(--basic-black);
}

.map-city{
  width: 1200px;
  margin-top: 0;
  margin-bottom: -120px;
}

.preview-hotel {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color:var(--light-black);
}

.search-button {
  width: 568px;
  height: 86px;
  background-color: var(--gray-brown);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color:var(--basic-white);
  text-align: center;
  margin-left: 316px;
  border: 1px solid var(--basic-white);
}

.search-button:hover {
  background-color: var(--basic-brown);
  border: 1px solid var(--basic-white);
}


.search-button:active {
  background-color: var(--dark-brown);
  border: 1px solid var(--basic-white);
}

.search-button-text:active {
  opacity: 0.3;
}


.footer {
  width: 1200px;
  background-color: var(--white-rgba);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-contact {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color:var(--basic-black);
  margin-left: 111px;
}

.social-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
  margin-right: 6px;
}


.social-button:hover {
  background-color: var(--basic-blue);
}

.social-button:active {
  background-color: var(--dark-blue);
}

.youtube:active, .fb:active, .twitter:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.social-button:last-child {
  margin-right: 0;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color:var(--basic-black);
  display: flex;
  align-items: center;
  margin-right: 138px;
}

.foot-copyright {
  margin-right: 8px;
}

.logo-htmlacademy path:hover {
  fill:var(--light-blue);
}

.logo-htmlacademy path:active {
  fill:#BDBBBC;
}

.logo-htmlacademy:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-body-catalog {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:var(--basic-black);
  text-decoration: none;
}

.hotel-name:hover {
  color:var(--light-blue);
}

.hotel-name:active {
  color:var(--basic-black);
  opacity: 0.3;
}

.hotel-type {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color:var(--light-black);
}

.hotel-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color:var(--light-black);
  margin-left: 20px;
}

.hotel-raiting {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color:var(--middle-black);
  width: 110px;
  height: 27px;
  text-align: center;
  padding-top: 3px;
  background-color: var(--basic-gray);
}

.detail {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color:var(--basic-white);
  background-color:var(--light-blue);
  width: 110px;
  text-align: center;
  text-decoration: none;
}

.detail:hover {
  background-color:var(--basic-blue);
}

.detail:active {
  background-color:var(--dark-blue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.book {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color:var(--basic-white);
  background-color:var(--special-brown);
  margin-left:6px;
  width: 142px;
  text-align: center;
  text-decoration: none;
}

.book:hover {
  background-color:var(--basic-brown);
}

.book:active {
  background-color:var(--dark-brown);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.search {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color:var(--basic-black) ;
  text-decoration: underline;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.search:hover {
  text-decoration: underline;
  color:var(--light-blue);
  opacity: 1;
}

.search:active {
  text-decoration: none;
  color:var(--basic-black);
  opacity: 1;
}

.search:focus {
  text-decoration: none;
  color:var(--light-blue);
  opacity: 1;
}

.hotels-list {
  list-style: none;
}

.page-body {
  min-height: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 55px 1fr 120px;
  align-content: start;
}

.feature-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-item2 {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sedona-h1 {
  height: 80px;
  margin-top: 43px;
}

.five-reason {
  margin-top: 16px;
  margin-bottom: 51px;
  margin-left: 40px;
}

.container-catalog {
  width: 1200px;
  margin-left: -40px;
  display: grid;
  grid-template-rows: 217px 1fr auto ;
}

.site-navigation-menu.info-link {
  margin-left: 72px;
  margin-top: 15px;
}

.site-navigation-menu.photo-video {
  margin-left: 133px;
}

.site-navigation-menu.map-state  {
  margin-left:360px;
}

.site-navigation-menu.hotels-link {
  margin-left: 147px;
}

.logo-city {
  position: absolute;
  top:0;
  left:531px;
}

.filter {
  width: 1200px;
  height: 217px;
  outline-offset: -5px;
  outline: 5px solid red;
  margin-left: 40px;
}

.sort {
  width: 1200px;
  height: 86px;
  display: flex;
  margin-left: 40px;
  align-items: center;
  outline-offset: -5px;
  outline: 5px solid green;
}

.hotels-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:var(--basic-black);
  margin-left: 72px;
}

.hotels-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color:var(--basic-black);
  margin-left: 47px;
}

.sort-elements {
  list-style: none;
  width:241px;
  display: flex;
  justify-content:space-between;
}

.dir {
  width: 11px;
  height: 11px;
  margin-left: 503px;
}

.shape-dir:hover {
  fill:var(--basic-black);
}

.shape-dir:active{
  fill:var(--light-blue);
}

.shape-dir:focus {
  fill:var(--light-blue);
}

 .dir-down {
  width: 11px;
  height: 10px;
  margin-left: 12px;
 }

.amara, .desert, .villas {
  display: flex;
  margin-left: 72px;
  outline-offset: -5px;
  outline: 5px solid slateblue;
}

.amara {
  margin-top: 30px;
}

.desert, .villas {
  margin-top: 60px;
}

.amara-name, .desert-name, .villas-name {
  height:90px;
  margin-left: 30px;
  outline-offset: -5px;
  outline: 5px solid gold;
}

.hotel-info {
  display: flex;
  margin-top: -30px;
}

.amara-name h2, .desert-name h2, .villas-name h2 {
  margin-top: 0;
}

.booking {
  display: flex;
  margin-top: -10px;
}

.stars-list {
  display: flex;
  list-style: none;
 justify-content: flex-end;

}

.amara-raiting, .desert-raiting, .villas-raiting {
  width: 110px;
  margin-left: auto;
  margin-right: 72px;
  outline-offset: -5px;
  outline: 5px solid green;
}
