:root {
  --basic-black:#000000;
  --light-black:#333333;
  --basic-white:#FFFFFF;
  --light-blue:#81B3D2;
  --basic-gray:#F2F2F2;
  --white-rgba:rgba(255, 255, 255, 0.9);
  --light-gray: #EEEEEE;
  --special-brown:#766357;
  --middle-black:#666666;
  --basic-blue:#669EC0;
  --dark-blue: #5496BD;
  --basic-brown:#604E43;
  --dark-brown:#503E33;
  --middle-gray:#CACACA;
  --gray-brown:#766357;
  --special-gray:#EBEBEB;
  --special-violet:BDBBBC;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  background-color:var(--basic-gray) ;
}

.page-wrapper {
  position: relative;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color:var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  min-height: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 55px 1fr 120px;
  align-content: start;

}

img {
  max-width: 100%;
}

.header {
  position: relative;
  margin-left: auto;
  margin-left: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
}


.site-navigation {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation a {
  color:var(--basic-black);
  text-decoration: none;
}

.site-navigation-menu:hover {
  color:var(--light-blue);
}

.site-navigation-menu:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation-menu.active  {
color:var(--special-brown);
}

.photo-welcome {
  background-image: url("../img/main-photo.jpg");
  width: 1200px;
}

.welcome {
  padding: 78px 372px 81px 371px;
}

.shape {
  width: 1200px;
  height: 57px;
  margin-top: -57px;
}


.features h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color:var(--basic-black);
}

.features h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color:var(--light-black);
}

.features h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color:var(--basic-black);
}

.features p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: normal;
  color:var(--light-black);
}

.features-list {
  margin-right: auto;
  margin-left: -40px;
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}

.feature-item1, .feature-item2 {
  text-align: center;
  background-color:var(--light-blue);
}

.feature-item1 h3, .feature-item2 h3 {
  padding-top: 27px;
  color:var(--basic-white);
}

.feature-item1 p, .feature-item2 p {
  color:var(--basic-white);
}

.item1-number {
  padding-top: 6px;
}

.item2-number {
  padding-top: 9px;
}

.item1-text {
  padding-top: 12px;
}

.item2-text {
  padding-top: 12px;
}

.offers {
  background-color:var(--basic-white);
  height: 330px;
}

.feature-item3, .feature-item4, .feature-item5 {
  padding-top: 29px;
  background-color:var(--light-gray);
}

.item-number {
  padding-top: 4px;
}

.item-text {
  padding-top: 9px;
}
.offers.house {
  margin-top: 46px;
}

.offers.food {
  margin-top: 50px;
}

.offers.box {
  margin-top: 43px;
}

.house-text {
  padding-top: 8px;
}

.food-text {
  padding-top: 6px;
}

.box-text {
  padding-top: 6px;
}

.question-block {
  height: 155px;
  margin-left: -40px;
  margin-top: 58px;
}

.question {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color:var(--basic-black);
}



.map-city{
  width: 1200px;
  margin-top: 0;
  margin-bottom: -120px;
}

.preview-hotel {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color:var(--light-black);
  padding-top: 9px;
}

input, button {
 outline: none;
}

.search-button {
  width: 568px;
  height: 86px;
  background-color: var(--gray-brown);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color:var(--basic-white);
  text-align: center;
  margin-left: 316px;
  margin-top: -7px;
  border: 1px solid var(--basic-white);
}

.search-button:hover {
  background-color: var(--basic-brown);
  border: 1px solid var(--basic-white);
}


.search-button:active {
  background-color: var(--dark-brown);
  border: 1px solid var(--basic-white);
}

.search-button:active  span{
  opacity: 0.3;
}

.modal-close {
  position: absolute;
  top:2170px;
  left:316px;
  width: 568px;
  height:395px;
  display: none;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}



@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}
.booking-info label {
  margin-left: 55px;
  width: 125px;
  height: 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  border: none;
}

.booking-info input {
  width: 335px;
  height: 38px;
  background-color: var(--basic-gray);
  border: none;
}

.booking-info input:hover {
  background-color:var(--special-gray);
}

.booking-info input:focus {
  background-color: var(--basic-white);
  outline: 2px solid #E5E5E5 ;
  outline-offset: -3px;
}

.arrival, .departure {
  position: relative;
}

.booking-info.arrival {
  margin-top: 52px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.booking-info.arrival input {
  margin-left: 25px;
  padding-left: 4px;
}


.booking-info.departure {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin-top: 27px;
  margin-left: -1px;
}
.booking-info.departure input {
  margin-left: 22px;
  padding-left: 4px;
}

.booking-info.adult {
  position: relative;
  width: 50%;
  margin-top: 9px;
}

.booking-info.children {
  position: relative;
  width: 50%;
  margin-top: 12px;
}

.booking-info.adult label{
  width: 101px;
  height: 26px;
}
.booking-info.adult input {
  width: 38px;
  height: 38px;
  margin-top: 7px;
  margin-left:73px;
  text-align: center;
}

.booking-info.children label {
  width: 68px;
  height: 26px;
  margin-left: 48px;
}

.booking-info.children input {
  width: 38px;
  height: 38px;
  margin-top: 3px;
  margin-left:57px;
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.button-date {
  width: 458px;
  height: 58px;
  background-color:var(--light-blue);
  color: var(--basic-white);
  margin-top: 39px;
  margin-left:55px;
  border:none;
}

.button-date-text {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.button-date-text:active {
  opacity: 0.3;
}

.button-date:hover {
  background-color: var(--basic-blue);
}

.button-date:active {
  background-color: var(--dark-blue);
}

.button-date:active span{
  opacity: 0.3;
}

.select-date-button {
  height: 30px;
  position: absolute;
  top:7px;
  right: 59px;
  background-color:transparent;
  border: none;
}

.select-date-button :hover {
  stroke: rgba(0, 0, 0, 1);
}

.select-date-button :active {
  stroke: rgba(129, 179, 210, 1);
}

.select-date-button-departure {
  height: 30px;
  position: absolute;
  top:7px;
  right: 59px;
  background-color:transparent;
  border: none;
}

.select-date-button-departure :hover {
  stroke: rgba(0, 0, 0, 1);
}

.select-date-button-departure :active {
  stroke: rgba(129, 179, 210, 1);
  border: none;
}

.select-children.up {
  position: absolute;
  top:3px;
  left:189px;
  height: 40px;
  width: 38px;
  border: none;
  background-color: var(--basic-gray);
}

.select-children.down {
  position: absolute;
  top:3px;
  left:109px;
  height: 40px;
  width: 38px;
  border: none;
  background-color: var(--basic-gray);
}


.select-children::before{
  content: "";
  position: absolute;
  top:18px;
  left:14px;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;

}


.select-children.up::after,.select-adult.up::after{
  content: "";
  position: absolute;
  top:18px;
  left:14px;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;
  transform:rotate(90deg);
}

.select-adult.up {
  position: absolute;
  top:7px;
  left:239px;
  height: 40px;
  width: 38px;
  border: none;
  background-color: var(--basic-gray);
}

.select-adult.down {
  position: absolute;
  top:7px;
  left:166px;
  height: 40px;
  width: 38px;
  border: none;
  background-color: var(--basic-gray);
}


.select-adult::before{
  content: "";
  position: absolute;
  top:18px;
  left:14px;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;
}

.select-adult.up:hover::after,
.select-adult.up:hover::before,
.select-children.up:hover::before,
.select-children.up:hover::after,
.select-children:hover::before,
.select-adult:hover::before {
  background-color: var(--basic-black);
}

.select-adult.up:active::after,
.select-adult.up:active::before,
.select-children.up:active::before,
.select-children.up:active::after,
.select-children:active::before,
.select-adult:active::before {
  background-color: var(--light-blue);
}

.footer {
  width: 1200px;
  background-color: var(--white-rgba);
  margin-top: -4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact {
  position: relative;
  margin-left: 128px;
}

.footer-contact {
  width: 166px;
  height: 26px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:var(--basic-black);
  position: absolute;
  top: -61px;
  left: 26px;
}

.tel-number {
  width: 251px;
  height: 26px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:var(--basic-black);
  position: absolute;
  top: -25px;
  left: -19px;
}

.footer-social {
  margin-top: -5px;
  margin-left: 173px;
}

.social-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.youtube, .fb, .twitter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
  margin-right: 6px;
}


.youtube:hover, .fb:hover, .twitter:hover {
  background-color: var(--basic-blue);
}

.youtube:active, .fb:active, .twitter:active{
  background-color: var(--dark-blue);
}

.youtube:active img, .fb:active img, .twitter:active img {
  opacity: 0.3;
}

.social-button:last-child {
  margin-right: 0;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color:var(--basic-black);
  display: flex;
  align-items: center;
  margin-right: 138px;
}

.foot-copyright {
  margin-right: 8px;
}


.logo-htmlacademy {
  width: 115px;
  height: 41px;
  margin-top: -8px;
  background-color: white;
  border: none;
}

.logo-htmlacademy svg {
  fill:#231F20;
}
.logo-htmlacademy:hover svg{
  fill:var(--light-blue);

 }

 .logo-htmlacademy:active svg{
   fill:#BDBBBC;
 }

.page-body-catalog {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:var(--basic-black);
  text-decoration: none;
}

.hotel-name:hover {
  color:var(--light-blue);
}

.hotel-name:active {
  color:var(--basic-black);
  opacity: 0.3;
}

.hotel-type {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color:var(--light-black);
}

.hotel-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color:var(--light-black);
  margin-left: 39px;
}

.hotel-price.hotel-desert {
  margin-left: 65px;
}

.hotel-price.hotel-villas {
  margin-left: 20px;
}

.hotel-raiting {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color:var(--middle-black);
  width: 110px;
  height: 24px;
  text-align: center;
  padding-top: 3px;
  background-color: var(--basic-gray);
  margin-top: 47px;
}


.detail {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color:var(--basic-white);
  background-color:var(--light-blue);
  width: 110px;
  height: 24px;
  margin-top: 10px;
  text-align: center;
  padding-top: 3px;
  text-decoration: none;
}

.detail:hover {
  background-color:var(--basic-blue);
}

.detail:active {
  background-color:var(--dark-blue);
  color:rgba(255,255,255,0.3)
}

.book {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color:var(--basic-white);
  background-color:var(--special-brown);
  margin-top: 10px;
  margin-left:6px;
  width: 142px;
  height: 24px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
}

.book:hover {
  background-color:var(--basic-brown);
}

.book:active {
  background-color:var(--dark-brown);
  color:rgba(255,255,255,0.3)

}

.search {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color:var(--basic-black) ;
  text-decoration: underline;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.search:hover {
  text-decoration-style: dashed;
  color:var(--light-blue);
  opacity: 1;
}

.search:active {
  text-decoration: none;
  color:var(--basic-black);
  opacity: 1;
}

.search.active {
  text-decoration: none;
  color:var(--light-blue);
  opacity: 1;
}

.hotels-list {
  list-style: none;
}

.feature-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-item2 {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sedona-h1 {
  height: 80px;
  margin-top: 37px;
  margin-left: -42px;
}

.five-reason {
  margin-top: 16px;
  margin-bottom: 51px;
  margin-left: -35px;
  text-align: center;
}

.container-catalog {
  width: 1200px;
  background-image: url("../img/background-cat.jpg") ;
  background-repeat: no-repeat;
 display: grid;
  grid-template-rows: 217px 1fr auto;
}

.site-navigation-menu.info-link {
  margin-left: 32px;
  margin-top: 15px;
}

.site-navigation-menu.photo-video {
  margin-left: 133px;
}

.site-navigation-menu.map-state  {
  margin-left:420px;
}

.site-navigation-menu.hotels-link {
  margin-left: 147px;
}

.logo-city {
  position: absolute;
  top:0;
  left:531px;
}

.filter {
  width: 1200px;
  margin-left: 40px;
  position: relative;
}

.filter fieldset {
  border: none;
}

.filter-option-list {
  margin-left: -38px;
  margin-top:-5px;
}


.filter-input {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color:var(--basic-white);
}

.filter-form label{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.fieldset-house {
  margin-top: -189px;
  margin-left: 275px;
}

.fieldset-comfort {
  margin-top: 26px;
  margin-left: 19px;
}

.fieldset-price {
  position: relative;
  margin-top: -184px;
  margin-left: 759px;
}

.field-price {
  position: relative;
}

.price-control {
  position: relative;
  width: 314px;
  height: 35px;
  margin-top: 1px;
  border: 2px solid var(--basic-white);
}

.price-control::before{
  content: "";
  position: absolute;
  top:7px;
  left:157px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.range-filter {
  width: 313px;
  height: 37px;
}


.range-controls {
  position: relative;
}

.range-controls .scale {
  margin-top: 20px;
  margin-left: 14px;
  width: 303px;
  height: 2px;
  background:rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 78%;
  height: 2px;
  background:var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top:-8px;
  left:0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-min:hover {
  position: absolute;
  top:-8px;
  left:0;
  width: 7px;
  height: 7px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;

}

.range-controls .toggle-max {
  left: 252px;
}

.range-controls .toggle-max:hover {
  position: absolute;
  top:-8px;
  left:252px;
  width: 7px;
  height: 7px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;

}

.filter-price {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.min-price,.max-price  {
  color:rgba(255, 255, 255, 1);
  width: 80px;
  height: 36px;
  border: none;
 background-color: transparent;
}

.min-price-label{
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color:var(--basic-white);
  width: 80px;
  height: 36px;
  margin-left: 66px;
}

.max-price-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color:var(--basic-white);
    width: 80px;
    height: 36px;
    margin-left: 40px;
}

.button-price {
 position: absolute;
  top:122px;
  left:94px;
  width: 137px;
  height: 36px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.button-price-text {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 21px;
 color:var(--basic-white);
}

.button-price:hover {
  background-color: var(--basic-white);
}

.button-price:hover span {
  color: var(--basic-black);
}


.filter-option-list {
  list-style: none;
}

.filter-option-label {
 position: relative;
 display: inline-block;
 cursor: pointer;
 user-select: none;
 margin-top: 25px;
 width: auto;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  left:-43px;
  top:0;
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-white);
}

.filter-input:checked + label::after {
  content: "";
  position: absolute;
  left:-36px;
  top:4px;
  width: 26px;
  height: 18px;
  background-image:url("../img/shape2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:disabled + label:before {
  border: 2px solid #6A6A6A;
}

.filter-input:disabled +label:after {
  background-image:url("../img/shapedisabled.svg");
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sort {
  width: 1200px;
  height: 86px;
  display: flex;
  align-items: center;
  margin-top: -1xp;
  margin-left: 1px;
}

.hotels-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:var(--basic-black);
  margin-left: 72px;
}

.hotels-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color:var(--basic-black);
  margin-left: 47px;
}

.sort-elements {
  list-style: none;
  width:241px;
  display: flex;
  justify-content:space-between;
}

.dir {
  width: 11px;
  height: 11px;
  margin-left: 503px;
}

.dir-down {
  width: 11px;
  height: 11px;
  margin-left: 12px;
 }

.dir:hover .shape-dir, .dir-down:hover .shape-dir{
  fill:var(--basic-black);
}


.dir:active .shape-dir, .dir-down:active .shape-dir{
  fill:var(--light-blue);
}

.dir.active polygon, .dir-down.active polygon {
  fill: var(--light-blue);
}

 .dir-down {
  width: 11px;
  height: 11px;
  margin-left: 12px;
 }

.amara, .desert, .villas {
  display: flex;
  margin-left: 32px;
  height: 152px;

}

.amara {
  margin-top: 17px;
}

.desert {
  margin-top: -2px;
}

.villas {
  margin-top: 0px;
}

.amara-name, .desert-name, .villas-name {
  height:90px;
  margin-left: 30px;
  margin-top: -9px;
}

.hotel-info {
  display: flex;
  margin-top: -30px;
}


.amara-name h2, .desert-name h2, .villas-name h2 {
  margin-top: 0;
}

.booking {
  display: flex;
  margin-top: -8px;
}

.stars-list {
 display: flex;
 list-style: none;
 justify-content: flex-end;

}

.stars-list img {
  margin-right:3px ;
}


.amara-raiting, .desert-raiting, .villas-raiting {
  width: 110px;
  margin-left: auto;
  margin-right: 113px;
}

.amara-raiting {
  margin-top: 0;
}

.footer.catalog {
  margin-top: -48px;
  height: 120px;
}


